{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h2><b><u>Spider Man</u></b></h2><br>
    <a href = "home">Spider Book</a><br>
    
    <footer><marquee behavior="" direction="right"><footer><img src="{% static 'superman.png' %}" alt="nature" width="500" height="500"></footer></marquee></footer>
</body>
</html>